* {
    border: 0;
}
/* 
.homeParrent {
    display: flex;
    height: calc(100vh - 200px);
}

.App{
    padding: 0%;
    height: 100vh;
    width: 100vw;
} */
.nav_parrent{
    width: -webkit-fill-available;
    position: fixed;
}
