* {
    margin: 0%;
}
.ac{
    display: flex;
    justify-content: center;
    align-items: center;
}
html::-webkit-scrollbar {
    /* width: 0; */
    background: transparent;
}

/* navigation bar --start */
nav {
    list-style: none;
    width: 200px;
    background-color: aliceblue;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

nav li a {
    display: flex;
    padding: 1rem;
}

.ontap_icon {
    padding: 1rem;
    width: fit-content;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidebar a:hover:not(:first-child) {
    color: #ffffff;
    /* font-size: 21px; */
    margin-left: 1rem;
    white-space: nowrap;
    transition: 0.3s;

}

.sidebar .closebtn {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    justify-content: end;
    padding: 1rem;
}

.sidebar .closebtn:hover {
    /* font-size: 32px; */
    color: white;
}

.openbtn {
    padding: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;

}

.parrent_menu {
    /* position: relative; */
    height: 50px;
    z-index: 1;
    top: 0%;
    width: 100%;
    /* position: sticky; */
}

.profile_image {
    padding-right: 1rem;
}

.Profile_img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.searchInput {
    border: 1px solid white;
    border-radius: 5px;
}

input:focus {
    outline: none;
    /* Remove the default focus outline */
    border: none;
    /* Remove the border */
}

.searchBox {
    color: #ffffff;
    /* padding: 0.5rem; */
}

.SearchIcon {
    color: white;
}

.home_btn , .resume_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(57, 60, 246);
    font-family: serif;
    cursor: pointer;
    /* -webkit-text-stroke: 0.5px black; */
}

.home_btn:hover , .resume_btn:hover {
    color: rgb(210, 15, 210);
}

.dropdownHome {
    position: absolute;
    margin-top: 3rem;
    background-color: #c6bebe21;
    border-radius: 6px;
    width: fill-available;
    margin-right: 1rem;
    margin-left: -2rem;
    z-index: 1;
    backdrop-filter: blur(1px);
    /* padding: 1rem; */

}

.dropdownHome ul li {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdownHome ul li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dropdownHome ul li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdownHome ul li:hover {
    background-color: #81818133;
    transition: 0.2s;
}

/* navigation bar --end */

/* Below Tablet Screen -- Start */
@media screen and (max-width:640px) {
    .openbtn {
        height: 3rem;
    }

    .Profile_img {
        height: 2rem;
        width: 2rem;
    }

    .dropdownHome {
        margin-top: 2rem;

    }
}

/* Below Tablet Screen -- End */

/* JAvaDSA --start */
.sortName {
    font-weight: 700;
    font-size: large;
}

/* JAvaDSA --end */

/* .cardData{
    margin-top: 10rem;
    z-index: 0;
    opacity: 0;
} */

.evenCard {
    background-color: rgba(224, 255, 255, 0.201);
}

.oodCard {
    background-color: rgba(255, 255, 224, 0.114);
}

/* full card page --start */
.fullCard {
    height: calc(100vh - 50px);
    width: calc(100vw - 1.6rem);
    /* border: 1px solid; */
    margin: 0.5rem;
    gap: 1rem;
}
.descCard{
    width: 50%;
    border: 1px solid;
}
.fullSolutionCard{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 0.5rem;
}
.ToggleBtn{
    border: 1px solid;
    cursor: pointer;
    user-select: none;
    /* background-color: green; */
    /* color: whitesmoke; */
    height: 40px;    
}

.programCard {
    /* height: 50%; */
    border: 1px solid;
    flex-grow: 1;
}

.outputCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border: 1px solid;
    flex-grow: 1;
    overflow: hidden;
    /* height: 50%;     */
}

/* full card page --end */